run = "python start_services.py"
modules = ["python-3.11"]

[deployment]
run = "python start_services.py"

[nix]
packages = ["glibcLocales"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8081
externalPort = 8081

[agent]
expertMode = true
